@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #ffffff;
    --background-gradient: linear-gradient(110deg, #FFF -7.98%, #EFEFEF 101.42%), var(--White, #FFF);
    --red-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(92deg, #FF1212 11.41%, #E20808 49.65%);
    --red: #cd0707;
    --text: #000000;
    --text-light: #7F7F7F;
    --transition: all 0.3s ease;
    --primary-font: 'Mukta', sans-serif;
    --secondary-font: 'Days One', sans-serif;
}

html {
    background: var(--background-gradient);
    scroll-behavior: smooth;
}

body {
    line-height: normal;
    color: var(--text);
    overflow-x: hidden;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

label,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    color: var(--text);
    font-weight: 500;
    text-align: left;
    transition: var(--transition);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    line-height: 2rem;
}

a {
    font-size: 1.25rem;
    text-decoration: none;
}

label {
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem 1.5rem;
    margin: 0 1.875rem;
    z-index: 1000;
    border-bottom: 1px solid;
}

header .logo {
    font-weight: 400;
    font-size: 2.25rem;
    cursor: pointer;
}

header .logo:hover {
    color: var(--text-light);
}

header input {
    display: none;
}

header label.active {
    display: none;
    cursor: pointer;
}

header nav a {
    margin: 0 1rem;
    padding: 0 0.5rem;
}

main {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.infoFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inlineFlex {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.button {
    font-family: var(--primary-font);
    color: var(--text);
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 1rem;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
    background: var(--background-gradient);
    border: 1px solid var(--text);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.red-button:hover {
    background-color: #b91c1c;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.red-button:active {
    transform: scale(0.95);
}

.input {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    white-space: nowrap;
    text-decoration: none;
    border: 2px solid var(--background);
    background: var(--background);
    border-radius: 15px;
    margin: 0 1rem;
    padding: 1.5rem 2.5rem;
    color: var(--text-color);
    outline: none;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input:focus {
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.3);
    border-color: var(--primary-color);
}

.input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 20px;
    opacity: 0.7;
    cursor: pointer;
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.centered-marginTop {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 2.3rem auto;
    white-space: nowrap;
}

.layoutGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.layoutGridAutoFit {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
}

.imgContainer {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.imgContainer {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: object-position 5s ease-in-out;
}

main nav {
    margin-top: 1rem;
}

main nav a {
    margin-right: 1rem;
}

.text-light {
    color: var(--text-light);
    line-height: normal;
    transition: var(--transition);
}

.underline {
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
}

.underline:hover {
    color: var(--text-light);
    transition: var(--transition);
}

.marginSides {
    margin-left: 5rem;
    margin-right: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.marginSides div {
    margin: 1rem 0;
}

.borderTop {
    border-top: 1px solid;
    padding-top: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-around;
}

.right {
    align-self: flex-end;
}

.right h4,
h5 {
    text-align: right;
    margin: 0 0;
    padding: 0 0;
}

.container {
    background: var(--background);
    margin: 0 1.875rem;
    padding: 2.3rem 1.5rem;
    border: 1px solid;
    border-radius: 15px;
}

.whiteFont {
    color: var(--background);
}

.redFont {
    color: var(--red);
}

.redBackground {
    background: var(--red-gradient);
}

a .redBackground:hover {
    background: var(--red);
}

.whiteBackground {
    background: var(--background);
}

#preview-container {
    width: 300px;
    height: 300px;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#preview-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.car-item {
    display: grid;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid;
    border-radius: 15px;
}

span {
    position: relative;
    padding-right: 2rem;
}

span label {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 1rem;
    white-space: nowrap;
}

span input {
    padding-left: 10px;
    font-size: 1rem;
    height: 2.25rem;
    border-radius: 12px;
}

span select {
    padding-left: 10px;
    text-align: left;
    font-size: 1rem;
    width: 150px;
    height: 2.25rem;
    border-radius: 12px;
}


.infoFlex span input {
    width: 150px;
}

.infoFlex .reference input {
    padding-left: 10px;
    width: 300px;
}

.normalGap span input {
    position: absolute;
}

.normalGap .reference input {
    position: absolute;
}

.normalGap .reference select {
    position: absolute;
}

.gap .reference label {
    bottom: 40px;
}

#foto {
    margin-top: 1rem;
}

#preview-container {
    width: 400px;
    height: 400px;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-top: 1rem;
}

input::file-selector-button {
    font-weight: bold;
    color: green;
    background-color: var(--background);
    padding: 0.5rem;
    margin: 0.5rem;
    border: thin solid grey;
    border-radius: 12px;
}

.paddingFlex {
    padding: 2.3rem 1.5rem;
}

.marginFlex {
    margin: 1rem 1.875rem;
}

.alignCenter {
    align-items: center;
}

.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.gap {
    gap: 5rem;
}


.Ocultar {
    display: grid;
}

.Revelar {
    display: none;
}

.Disponivel {
    display: grid;
}

.Arrendado {
    filter: grayscale(80%);
    background-color: var(--text-light);
}

.Visivel {
    display: grid; 
}

.Invisivel {
    display: none;
}

.normalGap {
    justify-content: normal;
    column-gap: 8rem;
}

.marginTop {
    margin-top: 3.5rem;
    padding: 1rem 0;
}

@media (max-width: 1180px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.85rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
    }

    label {
        font-size: 1rem;
    }

    a {
        font-size: 1rem;
    }

    .input {
        font-size: 1rem;
        padding: 1.35rem 1.35rem;
    }

    .container {
        margin: 0 0;
    }

    header {
        display: flex;
        margin: 1rem 1rem;
        padding: 1.5rem 1rem;
        position: relative;
        flex-wrap: wrap;
    }

    header .logo {
        font-size: 1.75rem;
    }

    header nav {
        align-self: flex-end;
        margin: 1.5rem 0;
    }

    header p {
        display: none;
    }

    header a {
        margin-left: 1rem;
    }

    header .button {
        padding: 1rem;
    }

    main {
        margin: 0.25rem;
        padding: 2.3rem 0.25rem;
    }

    .marginSides {
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .layoutGrid {
        grid-template-columns: 1fr;
    }

    .infoFlex .paddingFlex {
        padding: 2.3rem 0;
    }

    .infoFlex .marginFlex {
        margin: 0 1.875rem;
    }

    .infoFlex h4 {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
    }

    .centered-marginTop {
        display: flex;
        justify-content: center;
        white-space: wrap;
    }

    .button {
        margin-right: 1rem;
        padding: 1.5rem;
    }

    .column {
        margin: 0;
        padding: 0;
    }

    .marginTop {
        margin-top: 3.5rem;
        padding: 1rem 0;
    }

    .right {
        display: flex;
        justify-content: space-around;
        align-self: center;
        padding: 1rem;
        margin: 0;
        border-top: 1px solid;
        width: 90%;
    }

    .marginFlex {
        margin: 1rem 1.875rem;
    }

    .noMargin {
        margin: 0;
    }

    .noPadding {
        padding: 0;
    }

    .spaceEvenly {
        justify-content: normal;
        column-gap: 8rem;
    }

}

@media (max-width: 700px) {
    header {
        justify-content: center;
    }
}