@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #ffffff;
    --background-gradient: linear-gradient(110deg, #FFF -7.98%, #EFEFEF 101.42%), var(--background, #FFF);
    --red-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(92deg, #FF1212 11.41%, #E20808 49.65%);
    --red: #be0a0a;
    --bright-red: #ee0505;
    --green: green;
    --bright-green: rgb(0, 201, 0);
    --text: #000000;
    --text-light: #7F7F7F;
    --transition: all 0.3s ease;
    --primary-font: 'Mukta', sans-serif;
    --secondary-font: 'Days One', sans-serif;
}

html {
    background: var(--background-gradient);
    scroll-behavior: smooth;
}

body {
    line-height: normal;
    color: var(--text);
    overflow-x: hidden;
    min-width: 370px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

input[type="file"],
input,
button,
label,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    color: var(--text);
    font-weight: 500;
    text-align: left;
    transition: var(--transition);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

input,
button,
h5 {
    font-size: 1.5rem;
}


input[type="file"],
h6 {
    font-size: 1rem;
}

input[type="file"],
.ponter {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
    scale: 1.01;
    transition: var(--transition);
}

p {
    font-size: 1rem;
    line-height: 2rem;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem 1.5rem;
    margin: 0 1.875rem;
    z-index: 1000;
    border-bottom: 1px solid;
}

header .logo {
    font-weight: 400;
    cursor: pointer;
}

header .logo:hover {
    color: var(--text-light);
}

header input {
    display: none;
}

header label.active {
    display: none;
    cursor: pointer;
}

header nav p,
header nav a {
    margin: 0 1rem;
    padding: 0 0.5rem;
}

a:hover {
    scale: 1.03;
    color: var(--text-light);
    transition: var(--transition);
}

.whiteFont:hover {
    color: var(--background);
}

header path {
    stroke: var(--text);
}

header svg:hover {
    scale: 1.1;
    transition: var(--transition);
}

main {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.inlineFlex {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.spaceEvenly {
    justify-content: space-evenly !important;
}

.wrap {
    flex-wrap: wrap;
}

.button {
    font-family: var(--primary-font);
    color: var(--text);
    font-weight: 600;
    margin-right: 1rem;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
    background: var(--background-gradient);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(114, 114, 114, 0.5);
    transition: all 0.3s ease-in-out;
}



.input {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    text-decoration: none;
    border: 2px solid var(--background);
    background: var(--background);
    border-radius: 15px;
    margin: 0 1rem;
    padding: 1.5rem 2.5rem;
    color: var(--text-color);
    outline: none;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    text-overflow: ellipsis;
}


.input:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.input:focus {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.3);
}

.input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 20px;
    opacity: 0.7;
    cursor: pointer;
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}



.centered-marginTop {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 2.3rem auto;
}

.textTruncate {
    text-overflow: ellipsis;
    justify-content: left;
    overflow: hidden;
    white-space: nowrap;
    max-width: 85%;
}

.layoutGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.layoutGridBiggerAutoFit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: 2.5rem;
    justify-items: center;
}

.layoutGridAutoFit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
    justify-items: center;
}

.layoutGridAutoFit.multiple-car-items {
    justify-items: stretch;
}

.layoutGridAutoFit img {
    min-width: auto;
}


.noGap {
    gap: 0;
}

.imgContainer {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: object-position 5s ease-in-out;
}

main nav {
    margin-top: 1rem;
}

main nav a {
    margin-right: 1rem;
}

.text-light {
    color: var(--text-light);
    line-height: normal;
    transition: var(--transition);
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}

.biggerWeight {
    font-weight: 800;
}

.biggerWeight:hover,
.underline:hover {
    color: var(--text-light);
    transition: var(--transition);
}

.marginSides {
    margin-left: 5rem;
    margin-right: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.marginSides div {
    margin: 1rem 0;
}

.borderTop {
    border-top: 1px solid;
    padding-top: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
}

.right {
    align-self: flex-end;
}

.right h4,
h5 {
    text-align: right;
    margin: 0 0;
    padding: 0 0;
}

.container {
    background: var(--background);
    margin: 0 1.875rem;
    padding: 2.3rem 1.5rem;
    border-radius: 15px;
    width: max-content;
    max-width: 2800px;
    height: auto;
    min-height: 480px;
}

.maxWidth {
    width: 100%;
}

.whiteFont {
    color: var(--background);
}

.redFont {
    color: var(--red);
}

.redFont:hover {
    transform: scale(1.03);
    color: var(--bright-red);
    transition: all 0.3s ease-in-out;
}

.greenFont {
    color: var(--green);
}

.greenFont:hover {
    color: var(--bright-green);
}

.redStrokeColor {
    border: 2px solid var(--red);
}

.redStrokeColor:hover {
    border: 2px solid var(--bright-red);
}

.greenStrokeColor {
    border: 2px solid var(--green);
}

.greenStrokeColor:hover {
    border: 2px solid var(--bright-green);
}

.blackStrokeColor {
    border: 1px solid var(--text);
}

.blackStrokeColor:hover {
    color: var(--text);
}

.redBackground {
    background: var(--red-gradient);
    border: none;
}

.whiteBackground {
    background: var(--background);
}

#preview-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.car-item {
    display: grid;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid;
    border-radius: 15px;
    max-width: 642px;
    width: 100%;
}

span {
    position: relative;
    padding-right: 2rem;
}

span label {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 1rem;
    white-space: nowrap;
}

span select,
span input {
    padding-left: 10px;
    font-size: 1rem;
    height: 2.25rem;
    border-radius: 12px;
    border: 2px solid;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

span input[type="submit"] {
    text-align: center;
}

span select:hover,
span input:hover {
    box-shadow: 0 4px 6px rgba(96, 96, 96, 0.5);
    transition: all 0.3s ease-in-out;
}

span select:focus,
span input:focus {
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.3);
}

span select {
    padding-left: 10px;
    text-align: left;
    font-size: 1rem;
    width: 150px;
}


.infoFlex span input {
    width: 150px;
}

.infoFlex .reference input {
    padding-left: 10px;
    width: 310px;
}

.normalGap span input {
    position: absolute;
}

.normalGap .reference input {
    position: absolute;
}

.normalGap .reference select {
    position: absolute;
}

.gap .reference label {
    bottom: 40px;
}

#foto {
    margin-top: 1rem;
}

#preview-container {
    width: 400px;
    height: 400px;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-top: 1rem;
}

input::file-selector-button {
    font-weight: bold;
    color: var(--green);
    background-color: var(--background);
    padding: 0.5rem;
    margin: 0.5rem;
    border: thin solid grey;
    border-radius: 12px;
    cursor: pointer;
}



.paddingFlex {
    padding: 2.3rem 1.5rem;
}

.marginFlex {
    margin: 1rem 1.875rem;
    white-space: nowrap;

}

.alignCenter {
    align-items: center;
}

.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.gap {
    gap: 5rem;
}


.Ocultar {
    display: grid;
}

.Revelar {
    display: none !important;
}

.Disponivel {
    display: grid;
}

.Visivel {
    display: grid;
}

.Invisivel {
    display: none;
}

.Arrendado {
    display: none;
}

.normalGap {
    justify-content: normal;
    column-gap: 8rem;
    min-height: 80px;
}

.marginTop {
    margin-top: 3.5rem;
    padding: 1rem 0;
}


.marginTopSmall {
    margin-top: 1.5rem;
}

.marginRight {
    margin-right: 2rem !important;
    padding-right: 1rem;
}

.borderAround {
    border: 1px solid;
    padding: 0.25rem 0.5rem;
    border-radius: 15px;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
    animation-fill-mode: forwards;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav p {
    font-size: 1rem;
}

.hidden {
    display: none;
}

@media (max-width: 1230px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.75rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    main {
        margin: 0.25rem;
        padding: 2.3rem 0.25rem;
    }

    .marginSides {
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .layoutGrid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .infoFlex .paddingFlex {
        padding: 2.3rem 0;
    }

    .infoFlex .marginFlex {
        margin: 0 1.875rem;
    }

    .infoFlex h4 {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
    }

    .centered-marginTop {
        display: flex;
        justify-content: center;
        white-space: wrap;
    }

    .column {
        margin: 0;
        padding: 0;
    }

    .marginTopSmall {
        margin-top: 1.5rem;
    }

    .marginTop {
        margin-top: 3.5rem;
        padding: 1rem 0;
    }

    .right {
        display: flex;
        justify-content: space-around;
        align-self: center;
        padding: 1rem;
        margin: 0;
        border-top: 1px solid;
        width: 90%;
    }

    .marginFlex {
        margin: 1rem 1.875rem;
    }

    .noMargin {
        margin: 0;
    }

    .noPadding {
        padding: 0;
    }

    .spaceEvenly {
        justify-content: normal;
        column-gap: 8rem;
    }

    .layoutGridAutoFit {
        justify-items: center !important;
    }



}


@media (max-width: 767px) {

    header {
        display: flex;
        margin: 1rem 1rem;
        padding: 1.5rem 1rem;
        position: relative;
        flex-wrap: wrap;
    }

    header nav p,
    header nav a {
        margin: 0 0.5rem;
        padding: 0 0.25rem;
        display: block;
        text-align: center;
        color: var(--text);
        padding: 2rem 0;
        border-bottom: 1px solid var(--text);
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    header nav a:last-child {
        border-bottom: none;
    }

    header label.active {
        display: flex;
        font-family: var(--primary-font);
        background-color: var(--background);
        border: 1px solid;
        border-radius: 15px;
        color: var(--text);
        font-size: 1.25rem;
        font-weight: 500;
        margin: 0 1rem;
        padding: 0.5rem 0.5rem;
        transition: var(--transition);
        align-items: center;
    }

    header label.active:hover {
        scale: 1.01;
        transition: var(--transition);
    }

    header label.active svg {
        margin-left: 0.5rem;
    }

    header nav {
        display: block;
        position: absolute;
        top: 6.5rem;
        left: -10px;
        width: 105%;
        max-height: 0;
        overflow: hidden;
        background: var(--background);
        transition: max-height 0.5s ease-in-out;
    }

    .nav-menu p {
        display: none;
    }

    header input:checked~nav {
        max-height: 366px;
        border-radius: 12px;
    }

    header input:checked~nav a {
        opacity: 1;
        transform: translateY(0);
    }

    header a {
        margin-left: 1rem;
    }

    header .button {
        padding: 1rem;
    }

    .input {
        padding: 1.35rem 1.35rem;
    }

    .container {
        margin: 0 0;
    }

    h1 {
        font-size: 2.369rem;
    }

    h2 {
        font-size: 1.999rem;
    }

    h3 {
        font-size: 1.777rem;
    }

    h4 {
        font-size: 1.333rem;
    }

    h5 {
        font-size: 1.125rem;
    }


    header {
        margin: 1rem 0;
        padding: 1.5rem 0;
    }

    header div a:nth-child(1) {
        display: none;
    }

    header label.active p {
        display: none;
    }

    header label.active svg {
        margin-left: 0;
    }

    .button {
        padding: 1.5rem;
    }

    .infoFlex {
        flex-wrap: wrap;
    }

    .redBackground .infoFlex {
        flex-wrap: nowrap;
    }

    .input::-webkit-calendar-picker-indicator {
        right: 10px;
    }

    span input {
        width: 150px;
    }

    form .layoutGridAutoFit {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

}


@media (max-width: 500px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    a,
    h5 {
        font-size: 1rem;
    }

    p,
    span,
    input,
    label,
    button,
    h6 {
        font-size: 0.875rem;
    }

    form .layoutGridAutoFit {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}